      <div class="row">

         <div class="col-sm-8 blog-main">
           <div class="blog-post">
               <h2 class="blog-post-title">{{ description }}</h2>

               <pre>{{ code }}</pre>

           </div>
         </div>

         <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
           <div class="sidebar-module sidebar-module-inset">
             <h4>About</h4>
             <p>{{ description }}</p>
             <p>Created by {{ author }}</p>
           </div>
         </div>

       </div>
